*.iml
.kotlin
.gradle
**/build/bin/
**/build/reports/
**/build/classes/
**/build/generated/
**/build/tmp/
**/build/kotlin-multiplatform-resources/
**/build/intermediates/
**/build/kotlinTransformedMetadataLibraries/
**/build/kotlin/compileAndroidMain/
**/build/kotlin/
**/build/kotlin/compileCommonMainKotlinMetadata/
**/build/konan.txt
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
